/* FILEPATH: c:\Users\Liibaan\Desktop\NBCC\Web Dev\Trees-of-NB\Assets\style.css */

/* Set image size to 30% */
.home-card img {
    max-height: 200px;    
    margin: 3%;
    border: 5px solid darkblue;
    float:left;
}

.home-card {
    display: flex;
    background-color: cadetblue;
    border: 3px solid darkblue;
    box-sizing: border-box;
}

article p {
    font-size: 1em; 
}

.divider {
    border: 5px solid darkblue;
    width: 1000px;
   float: right;
   margin-left: auto;
   margin-right: 0;
   margin-top: 3%;
    margin-bottom: 3%;
}

/* .category-image {
    max-width: 30%;
    height: auto;
    margin: 5%;
    border: 5px solid darkblue;
} */

.item-image {
    max-width: 30%;
    margin: 5%;
    border: 4px solid black;
}

.item-container {
    max-height: 500px;
    display: flex;
}

/* Formatting for all content on ecosystem pages*/

.eco-list {
    width: 90%;
    background-color: bisque;
    border: 4px solid black;
    margin: 5%;
}

.eco {
    background-color: burlywood;
    box-sizing: border-box;
    margin: 0%;
    margin-bottom: 3%;
}

/* Formatting for all content on disease pages*/

.disease-list {
    width: 90%;
    background-color: thistle;
    border: 4px solid black;
    margin: 5%;
}

.disease {
    background-color: rgb(223, 156, 223);
    box-sizing: border-box;
    margin: 0%;
    margin-bottom: 3%;
}

/* Formatting for all content on tree pages*/

.tree-list {
    width: 90%;
    background-color: khaki;
    border: 4px solid black;
    margin: 5%;
}

.tree {
    background-color:rgb(176, 176, 82);
    box-sizing: border-box;
    margin: 0%;
    margin-bottom: 3%;
}

/*Header styling*/
header {
    display: flex;
    margin-bottom: 3%;
    align-items: center;
}

header img {
    max-height: 50px;
}

/*Body*/
header p,a {
    color: white;
    margin-left: auto;

}

body {
    box-sizing: border-box;
    margin: 0%;
    margin-bottom: 3%;
}

.item {
    font-size: larger;
    margin-left: 125px;
    margin-right: 125px;
}

/* Here down is the footer styling */
footer {
    position: fixed;
    background-color: #04AA6D;
    margin: 0%;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.dropbtn {
    cursor: pointer;
    height: 50px;
    background-color: rgb(12, 132, 12);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    min-width: 225px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 225px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content :nth-last-child(1) {
    background-color: rgb(209, 216, 223);
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*Formula for top is 85% times number of boxes,minus 2. Then make negative.*/
.dropdown:hover .dropdown-content.diseasesdrop{
    display: block;
    top: -338%;
}
.dropdown:hover .dropdown-content.ecosystemdrop{
    display: block;
    top: -508%;
}
.dropdown:hover .dropdown-content.treesdropatoi{
    display: block;
    top: -508%;
}
.dropdown:hover .dropdown-content.treesdropjtor{
    display: block;
    top: -593%;
}
.dropdown:hover .dropdown-content.treesdropstoz{
    display: block;
    top: -509%;
}