/* FILEPATH: c:\Users\Liibaan\Desktop\NBCC\Web Dev\Trees-of-NB\Assets\style.css */

/* Set image size to 30% */
.home-card img {
    max-width: 30%;
    height: auto;
    margin: 5%;
    border: 5px solid darkblue;
}

/* .catogory-image {
    max-width: 30%;
    height: auto;
    margin: 5%;
    border: 5px solid darkblue;
}

.item-image {
    max-width: 30%;
    height: auto;
    margin: 5%;
    border: 5px solid darkblue;
} */

/* Use flexbox for category cards */
.home-card {
    display: flex;
    align-items: center;
}

article > p {
    font-size: 1.5em;
    float: bottom;
}
